{% extends "core/base.html" %}

{% block title %} {{ category }} Questions | {{ block.super }}{% endblock title %}

{% block content %}

{% include "core/search.html" %}

<a class="btn btn-success" href="{% url 'questions:question_ask' %}">Ask your Questions</a>
<hr>

<h1>{{ category }} Questions</h1>
<hr>

{% for question in query_list %}
<div class="list-group">
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1"><b><a href="{{question.get_absolute_url}}" >{{ question.qus }}</a></b>
      <small>Asked {{ question.updated|timesince }} ago By <b>
      <a href="{{question.user.get_absolute_url}}" >{{ question.user.username }}</a>
      </b></small></h4>
      <small><b>Category:</b> <a href="{{question.category.get_absolute_url}}" >{{ question.category }}</a></small>
    </div>
    <p class="mb-1">{{ question.details|linebreaks|truncatechars:120 }}</p>

  </div>
</div>
{% endfor %}

{% include "core/paginator.html" %}

{% endblock content %}
