{% extends "core/base.html" %}

{% block title %} Questions | {{ block.super }}{% endblock title %}

{% block content %}

{% include "core/search.html" %}

<a class="btn btn-success" href="{% url 'questions:question_ask' %}">Ask your Questions</a>
<hr>

<h1>{{ category }} Questions</h1>
<hr>

{% for question in query_list %}
<div class="list-group">
  <a href="{{question.get_absolute_url}}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1"><b>{{ question.qus }}</b></h4>
      <small>Asked {{ question.updated|timesince }} ago By <b>{{ question.user.username }}</b></small><br>
      <small><b>Category:</b> {{ question.category }}</small>
    </div>
    <p class="mb-1">{{ question.details|linebreaks|truncatechars:120 }}</p>

  </a>
</div>
{% endfor %}

{% include "core/paginator.html" %}

{% endblock content %}