<hr>
<footer class="footer navbar-fixed">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">
            <!--First column-->
            <div class="col-md-6">
                <h4 class="title"><b>Footer Content</b></h4>
                <p>Here you can use rows and columns here to organize your footer content.</p>
            </div>
            <!--/.First column-->
            <!--Second column-->
            <div class="col-md-6">
                <h5 class="title"><b>Links</b></h5>
                <ul>
                    <li><a href="{% url 'home' %}">Home </a></li>
                    <li><a href="{% url 'questions:question_list' %}">Questions</a></li>
                    <li><a href="{% url 'questions:category_list' %}">Categories</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li> 
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->
    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="http://127.0.0.1:8000/"> your-query.com</a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<br>