{% extends "core/base.html" %}

{% block title %} Home | {{ block.super }}{% endblock title %}

{% block content %}
<div class="jumbotron">
  <h1>Your-Query.com</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget aliquet metus, at dignissim elit. Nunc et sem sapien. Suspendisse pharetra porttitor dui et hendrerit. Phasellus malesuada, augue ut vulputate fringilla, felis risus gravida nulla, id consectetur est mauris id purus. Nulla facilisi.</p>
  <p><a class="btn btn-primary btn-lg" href="{% url 'questions:question_list' %}" role="button">Questions</a>
  <a class="btn btn-default btn-lg" href="{% url 'contact' %}" role="button">Contact US</a></p>
</div>

<div class="container">
    <h2>New Questions</h2>
    <hr>

<div>
<div class="list-group">
{% for obj in queryset %}
  <a href="{{ obj.get_absolute_url }}" class="list-group-item"><h4><b>{{obj.qus}}</b></h4><b>Created/Updated: </b>{{ obj.updated|date:'d-m-Y' }}</a>
{% endfor %}

</div>
<a href="{% url 'questions:question_list' %}">View All Items ---></a>
</div>
</div>
{% endblock content %}