{{ user_profile.username }}<br>
{{ user_profile.email }}<br>

{% if request.user.username == user_profile.username %}
<a href="{{user_profile.get_absolute_url}}edit/">Edit</a><br>
{% endif %}

Answered: {{ user_profile.answer_set.count }}<br>
Asked: {{ user_profile.question_set.count }}<br>
{{ user_profile.birth_date }}<br>
{{ user_profile.date_joined }}<br>
<p>{{ user_profile.bio }}</p><br>

<h3>Questions Asked:</h3>
{% for question in user_questions %}
<a href="{{question.get_absolute_url}}">{{ question.qus }}</a><br>
{% endfor %}



